.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecach

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/
out/
*.iml
.DS_Store
.project/
.settings/org.eclipse.buildship.core.prefs
common/src/main/java/io/swagger/api/CheckApiController.java
team/.classpath
team/.project/
team/.settings/org.eclipse.buildship.core.prefs
team/.settings/org.eclipse.jdt.core.prefs
team/bin/main/urlshortener/team/Application.class
.vscode

app.properties